.section-clients {
    background-color:var(--top-line-bg);
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .name-client {
     display: flex;
     justify-content: center;

      &-link{
        width: 170px;        
        height: 92px; 
        border: 1px solid rgba(175, 177, 184, 1);
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        display: flex;
        color: #AFB1B8;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        
        &:hover,
        &:focus {
         border-color:var(--accent-color);
         color:var(--accent-color);
        }
      }
      &-icon{
        fill: currentColor;     
      }
      &-item +&-item {
        margin-left: 30px;
      }
      
   }
   
  
  
 
   