

  .cooperate { 
    display: flex;
    justify-content: space-between;
    
      
    
 
  }
  .team {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 30px ;
    @include desk {

      margin-bottom: 50px;
      font-size: 36px;
    }
    
    
   
  }
    
  
  
  
  .label{
    position: relative;

    &-text{
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--top-line-bg);
      padding-left: auto;
      padding-top: 27px;
      padding-right: auto;
      padding-bottom: 27px;
      position: absolute;
      bottom: 4px;
      justify-content: center;
      width: 370px;
      background-color:rgba(47, 48, 58, 0.8); ;
    }
  }
 