
.online-wrap{
  @include desk {
    display: inline-flex;
  }
   
  
 
  

}   
.online-input{
 
width: 100%;
 @include tab {  
    width: 450px;
  } 
  @include desk {
    width: 358px;
  } 

height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: transparent;
padding-left: 16px;
cursor: pointer;
color: #ffffff;

margin-bottom:20px ;
} 
.online-modal-input{
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.25;

align-items: center;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
 @include desk {
  display: flex;

 }

}

.subscription {
  @media screen and (max-width: 1199px) {
    text-align: center;

  }
  @include desk {
    margin-left: 93px;

  }
    
  
  
 
  
 
  


  &-type {
    min-width: 200px;
    height: 50px;
    background-color:var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding-left: 29px;
    padding-top: auto;
    padding-right: 28px;
    padding-bottom:auto;
    cursor: pointer;
    border-color: transparent;
    @include desk {
      margin-left: 12px;

    }

    
  }

   &-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    }


}

.icon-icon-send  {
 fill: #FFFFFF;
 margin-left: 10px;
}