.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
  }  

  .cap{
  padding-top: 200px;
  padding-bottom: 200px;
}
.exception{
  padding-top: 94px;
  padding-bottom: 94px;
}
.cooperate {
  padding-top: 0px;
  padding-bottom: 94px;
}
.personnel
{ padding-top: 94px;
  padding-bottom: 94px;
}
.cellar { 
  padding-top: 60px;
  padding-bottom: 60px;
}