.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // background-color:rgba(0, 0, 0, 0.2);
    // border: 1px solid rgba(0, 0, 0, 0,1);

    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    overflow-y: scroll;

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;  
    }
    &.is-hidden .modal {
      transform: translate(-50%, -50%) scale(0.5);
    }     
  }
  
   
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    min-height: 581px;
    background-color:var(--top-line-bg);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
   
    @media screen and (min-width: 480px) {
     width: 450px;    
    }
    @media screen and (min-width: 1200px) {
      width: 528px;    
    }

      &-title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 15px;
        color: #212121;
      }
      &-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: 10px;
        padding-left: 30px;
        cursor: pointer;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
        
        &:focus,
        &:hover {
          border-color: var(--accent-color);  
        }
        &:focus + .modal-icon,
        &:hover + .modal-icon{
          fill: var(--accent-color);
        }
      }
      &-label{
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.66;
        letter-spacing: 0.01em;
        color:var(--secondary-text-color);
        display: block;
      }
      &-text{
        width: 100%;
        height: 96px;  
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.67;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        resize: none;
        outline: none;
      }
  } 
  
  .window-close {
     width: 30px;
     height: 30px;
     background-color: #ffffff;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #0a0a0a ;
     position: absolute;
     right: 8px;
     top: 8px;
     border-color: rgba(0, 0, 0, 0.1);
     cursor: pointer;
     
  }
  
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &-close-black:focus,
    &-close-black:hover{
      fill: var(--accent-color); 
      }
  }


.form-filed-input{
  position: relative;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;

}
.modal-icon{
  position: absolute;
  left: 12px ;
  top: 50%;
  transform: translateY(-50%);
}



.modal-text{
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;  
  margin-bottom: 20px;
}

.modal-check-text {
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;
color:var(--secondary-text-color);

}
.modal-check-text .vector {
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}
.modal-check-icon {
  fill: transparent;
  display: none;

}
.modal-check:checked + .modal-check-text > .vector {
  background-color: var(--accent-color);
  border: none;
}
.modal-check:checked + .modal-check-text .modal-check-icon {
fill: var(--top-line-bg);
display: block;
}

.button-send{
width: 200px;
height: 50px;
background:var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
border-radius: 4px;
padding-top:auto;
padding-bottom:auto;
padding-left: 56px;
padding-right:55px;
cursor: pointer;
border-color: transparent;

&-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  
  color:var(--top-line-bg);
  }



}
.contract-condition-text {
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration-line: underline;
margin-left: 5px;

color:var(--accent-color); 
}


.position-text {
 text-align: center;
} 