body {
    background-color: var(--body-bg-color);
    color:var(--primary-text-color);
    font-family:Roboto, sans-serif;
    letter-spacing: 0.03em;
    margin: 0;
  
  } 

  body .modal-open {
   overflow: hidden;
  }

  button {
      cursor: pointer;
  }